[package]
name = "rust-wrapper"
version = "0.1.0"
edition = "2021"

[dependencies]
cc = "1.0"
stwo-prover = { git = "https://github.com/starkware-libs/stwo", branch = "dev" }
itertools = "0.10.5"
rand = "0.8.5"